.container {
  background: var(--white);
  height: 6.5rem;

  display: flex;
  align-items: center;

  padding: 2rem 4rem;
  border-bottom: 1px solid var(--gray-100);

  img {
    width: 6.5rem;
    height: 6.4rem;
  }

  input {
    margin: auto;
    width: 70%;
    height: 2rem;

    border: 1px solid var(--gray-800);
    border-radius: 0.5rem;
  }
}